.mindmap-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.mindmap-miniGap {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  border: 1px solid #aaa;
}

.mindmap-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
}

.mindmap-toolbar-top {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 110px;
}

.mindmap-toolbar-bottom {
  position: absolute;
  right: 50px;
  bottom: 0;
  height: 140px;
  width: 30px;
}

.mindmap-toolbar-top .mindmap-toolbar {
  display: flex;
  flex-direction: row;
}

.mindmap-toolbar-top .mindmap-toolbar-list_item {
  width: 30px;
  height: 30px;
  overflow: hidden;
  list-style: none;
  pointer-events: all;
  cursor: pointer;
}

.mindmap-toolbar-bottom .mindmap-toolbar {
  display: flex;
  flex-direction: column;
}

.mindmap-toolbar-bottom .mindmap-toolbar-list_item {
  width: 30px;
  height: 30px;
  overflow: hidden;
  list-style: none;
  pointer-events: all;
  cursor: pointer;
}

.icon-center {
  width: 20px;
  height: 20px;
  background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj4gPHBhdGggZD0iTTAgMTgwVjU2YzAtMTMuMyAxMC43LTI0IDI0LTI0aDEyNGM2LjYgMCAxMiA1LjQgMTIgMTJ2NDBjMCA2LjYtNS40IDEyLTEyIDEySDY0djg0YzAgNi42LTUuNCAxMi0xMiAxMkgxMmMtNi42IDAtMTItNS40LTEyLTEyek0yODggNDR2NDBjMCA2LjYgNS40IDEyIDEyIDEyaDg0djg0YzAgNi42IDUuNCAxMiAxMiAxMmg0MGM2LjYgMCAxMi01LjQgMTItMTJWNTZjMC0xMy4zLTEwLjctMjQtMjQtMjRIMzAwYy02LjYgMC0xMiA1LjQtMTIgMTJ6bTE0OCAyNzZoLTQwYy02LjYgMC0xMiA1LjQtMTIgMTJ2ODRoLTg0Yy02LjYgMC0xMiA1LjQtMTIgMTJ2NDBjMCA2LjYgNS40IDEyIDEyIDEyaDEyNGMxMy4zIDAgMjQtMTAuNyAyNC0yNFYzMzJjMC02LjYtNS40LTEyLTEyLTEyek0xNjAgNDY4di00MGMwLTYuNi01LjQtMTItMTItMTJINjR2LTg0YzAtNi42LTUuNC0xMi0xMi0xMkgxMmMtNi42IDAtMTIgNS40LTEyIDEydjEyNGMwIDEzLjMgMTAuNyAyNCAyNCAyNGgxMjRjNi42IDAgMTItNS40IDEyLTEyeiI+PC9wYXRoPiA8L3N2Zz4=") no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.5;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    border-radius: 100%;
    transform: scale(0.8);
  }
}

.icon-fit {
  width: 20px;
  height: 20px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E %3Cpath d='M448 344v112a23.94 23.94 0 0 1-24 24H312c-21.39 0-32.09-25.9-17-41l36.2-36.2L224 295.6 116.77 402.9 153 439c15.09 15.1 4.39 41-17 41H24a23.94 23.94 0 0 1-24-24V344c0-21.4 25.89-32.1 41-17l36.19 36.2L184.46 256 77.18 148.7 41 185c-15.1 15.1-41 4.4-41-17V56a23.94 23.94 0 0 1 24-24h112c21.39 0 32.09 25.9 17 41l-36.2 36.2L224 216.4l107.23-107.3L295 73c-15.09-15.1-4.39-41 17-41h112a23.94 23.94 0 0 1 24 24v112c0 21.4-25.89 32.1-41 17l-36.19-36.2L263.54 256l107.28 107.3L407 327.1c15.1-15.2 41-4.5 41 16.9z'%3E%3C/path%3E %3C/svg%3E") no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  opacity: 0.5;
}

.icon-download {
  width: 20px;
  height: 20px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E %3Cpath d='M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z'%3E%3C/path%3E %3C/svg%3E") no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  border-bottom: 2px solid #000;
  opacity: 0.5;
}

.icon-undo {
  width: 20px;
  height: 20px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath d='M8.309 189.836L184.313 37.851C199.719 24.546 224 35.347 224 56.015v80.053c160.629 1.839 288 34.032 288 186.258 0 61.441-39.581 122.309-83.333 154.132-13.653 9.931-33.111-2.533-28.077-18.631 45.344-145.012-21.507-183.51-176.59-185.742V360c0 20.7-24.3 31.453-39.687 18.164l-176.004-152c-11.071-9.562-11.086-26.753 0-36.328z'%3E%3C/path%3E %3C/svg%3E") no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  opacity: 0.5;
}

.icon-redo {
  width: 20px;
  height: 20px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath d='M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z'%3E%3C/path%3E %3C/svg%3E") no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  opacity: 0.5;
}

.g6-tooltip {
  padding: 10px 6px;
  color: #444;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  line-height: 1.5;
  max-width: 400px;
}

.g6-component-contextmenu {
  background-color: #333 !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 6px;
  overflow: hidden;
  color: #fff !important;
  z-index: 2;
  position: fixed !important;

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .group {
    width: 165px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .group:empty {
    display: none
  }

  li {
    line-height: 1.5;
    font-size: 12px;
    padding: 8px 10px;
    cursor: pointer;
    min-width: 100px;
    display: flex;
    justify-content: space-between;

    .small-tip {
      font-size: 10px;
      color: #ddd;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.empty {
  &::before {
    content:"新建模型"
  }
}