body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5715;
    margin: 0;
    padding: 0;
    width: 100%
}

*,
:after,
:before {
    box-sizing: border-box;
    outline: none
}

button:focus-visible {
    outline: 0 !important
}

li,
ul {
    list-style: none;
    padding: 0
}

li,
p,
ul {
    margin: 0
}

img {
    border-style: none;
    vertical-align: middle
}

#root {
    background-color: #f8f9fa;
    height: 100%
}

.hilightbg {
    background-color: #ecf6f0 !important
}

.relative {
    position: relative
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

#root>.ant-space {
    display: flex;
    justify-content: center;
    padding-top: 50px
}

:root {
    --selection-border-color: #2f80ed;
    --blue-link: #2f80ed
}

.large-title {
    color: #1d1d1f;
    font-size: 28px;
    font-weight: 500
}

.bgblur {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: hsla(0, 0%, 100%, .65) !important
}

.radius4 {
    border-radius: 4px;
    overflow: hidden
}

.radius8 {
    border-radius: 8px;
    overflow: hidden
}

.radius24 {
    border-radius: 24px;
    overflow: hidden
}

.square-grid {
    display: flex;
    flex-wrap: wrap
}

.square-grid .item {
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    transition: .2s ease-in-out
}

.square-grid .active,
.square-grid .item:hover {
    background: #e5e5e5;
    cursor: pointer;
    transition: .2s ease-in-out
}

@media screen and (max-width:480px) {
    .max480 {
        display: none !important
    }
}

.light-shadow {
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .02)
}

.shadow {
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .05)
}

.bento-shadow {
    box-shadow: 0 22px 42px rgba(0, 0, 0, .02), 0 14.2593px 24.5972px rgba(0, 0, 0, .02), 0 8.47407px 13.3778px rgba(0, 0, 0, .01), 0 4.4px 6.825px rgba(0, 0, 0, .01), 0 1.79259px 3.42222px rgba(0, 0, 0, .01), 0 .407407px 1.65278px rgba(0, 0, 0, .01)
}

.bento-border {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .09)
}

.thin-border {
    border: 1px solid rgba(0, 0, 0, .08)
}

.blue-link {
    color: #2f80ed;
    text-decoration: none
}

i {
    color: #888;
    font-size: 12px
}

.action-bar {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    padding: 4px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 2
}

.action-bar .button {
    align-items: center;
    border-radius: 6px;
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 100%;
    justify-content: center;
    transition: .2s ease;
    width: 30px
}

.action-bar .button.disabled {
    color: #999
}

.action-bar .button:hover {
    background: rgba(0, 0, 0, .1)
}

.bottom-left {
    left: 24px
}

.bottom-left,
.bottom-right {
    bottom: 20px;
    position: absolute
}

.bottom-right {
    right: 24px
}

@media screen and (max-width:480px) {
    .bottom-left {
        left: 12px
    }

    .bottom-right {
        right: 12px
    }
}

.ant-btn-primary {
    box-shadow: none;
    font-size: 14px
}

.ant-form-item {
    margin-bottom: 10px
}

.ant-form-item-label>label:after {
    content: " ";
    margin: 0 8px 0 2px;
    position: relative;
    top: -.5px
}

.ant-modal-content {
    border-radius: 10px;
    overflow: hidden
}

.ant-btn {
    border-radius: 4px
}

.ant-table-wrapper {
    border: 1px solid #e3ebf6;
    border-radius: 10px;
    overflow: hidden
}

.ant-table-thead>tr>th {
    color: #5c7090
}

.ant-message-notice-content {
    border-radius: 24px
}

.ant-popover-inner {
    border-radius: 7px;
    padding: 0 !important
}

.ant-popover-inner-content {
    padding: 5px
}

.ant-tooltip-content {
    border-radius: 5px;
    font-size: 12px;
    overflow: hidden
}

.ant-modal-header {
    border-bottom: none;
    padding-bottom: 0
}

.ant-modal-title {
    color: #1d1d1f;
    font-size: 16px;
    font-weight: 400
}

.ant-modal-mask {
    background-color: rgba(0, 0, 0, .2)
}

.ant-upload.ant-upload-drag {
    background: #fafafa;
    border: 3px dashed #cfddf0;
    border-radius: 7px;
    margin-bottom: 15px
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon {
    margin-bottom: 15px;
    margin-top: 10px
}

.ant-upload-list-item {
    height: auto;
    margin-top: 0
}

.ant-upload-list-text-container {
    margin-bottom: 10px
}

.ant-upload-list-text-container:last-child {
    margin-bottom: 15px
}

.ant-upload-list-item-info {
    background: #fafafa;
    border: 1px solid #e4ebf4;
    border-radius: 7px;
    padding: 4px 10px
}

.ant-upload-list-item-name {
    color: #13263f
}

.ant-upload-list-item-card-actions-btn.ant-btn-sm {
    height: auto;
    line-height: 1
}

.ant-alert {
    border-radius: 7px;
    transition: .3s ease-in-out
}

.ant-modal-body .ant-alert {
    margin-top: 15px
}

.ant-dropdown-menu {
    border-radius: 6px;
    padding: 0
}

.ant-input,
.ant-input-affix-wrapper {
    border-radius: 4px
}

.ant-empty-normal {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center
}

.ant-form-item-explain,
.ant-form-item-extra {
    font-size: 12px;
    padding: 2px 0 0 4px
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
    padding: 4px 8px !important
}

.ant-dropdown-menu-item-icon {
    -webkit-margin-end: 4px !important;
    margin-inline-end: 4px !important
}

@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.slideIn {
    -webkit-animation: slideIn .3s ease;
    animation: slideIn .3s ease
}

.bounceIn {
    -webkit-animation: slideIn .3s cubic-bezier(.175, .885, .32, 1.275);
    animation: slideIn .3s cubic-bezier(.175, .885, .32, 1.275)
}

.springTransition {
    transition: .3s cubic-bezier(.175, .885, .32, 1.275)
}

.easeTransition {
    transition: .3s ease
}

.container-eidtor {
    height: 100%;
    position: relative
}

.load-fail {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center
}

.load-fail .icon {
    color: rgba(0, 0, 0, .15);
    font-size: 84px
}

.load-fail .title {
    font-size: 20px;
    margin: 16px 0 0
}

.load-fail .description {
    color: rgba(0, 0, 0, .45);
    font-size: 14px
}

.load-fail .action-button {
    margin: 20px 0 0
}

.mindmap-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

.mindmap-wrapper .mindmap-box {
    display: flex
}

.mindmap-wrapper .mindmap-box .svg-wrapper {
    flex: 1 1
}

.mindmap-wrapper .mindmap-box .note-panel {
    flex-shrink: 0
}

.mindmap-wrapper>div:first-child {
    height: 100%
}

.mindmap-wrapper .overlay {
    cursor: auto
}

.mindmap-wrapper svg text {
    white-space: pre
}

.mindmap-wrapper #svg-wrapper {
    height: 100%;
    position: relative;
    width: 100%
}

.mindmap-wrapper .asst-svg {
    height: 0;
    position: absolute;
    width: 0
}

.mindmap-wrapper .svg {
    display: block;
    height: 100%;
    width: 100%
}

.mindmap-wrapper .svg foreignObject.html-container {
    background: transparent;
    border: none;
    cursor: pointer
}

.mindmap-wrapper .svg .imagebox {
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto
}

.mindmap-wrapper .svg .imagebox:hover {
    background-color: rgba(0, 132, 255, .15)
}

.mindmap-wrapper .svg .imagebox:hover .handle {
    opacity: 1
}

.mindmap-wrapper .svg .imagebox .handle {
    background: #0084ff;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    float: right;
    height: 16px;
    margin-right: -6px;
    margin-top: -10px;
    opacity: 0;
    width: 16px
}

.mindmap-wrapper .svg .imagebox .handle:hover {
    background: #00a2ff;
    cursor: nwse-resize
}

.mindmap-wrapper .svg .textbox {
    border: 1px solid transparent;
    display: inline-block;
    white-space: pre
}

.mindmap-wrapper .svg .trigger {
    fill: transparent
}

.mindmap-wrapper .svg.dragging .add-btn {
    visibility: hidden
}

.mindmap-wrapper .svg .add-btn {
    opacity: 0
}

.mindmap-wrapper .svg .add-btn:hover {
    cursor: pointer
}

.mindmap-wrapper .svg .add-btn.hidden {
    visibility: hidden
}

.mindmap-wrapper .svg .add-btn rect {
    stroke-width: 1;
    stroke: gray;
    fill: #fff
}

.mindmap-wrapper .svg .add-btn path {
    fill: #8685ff
}

.mindmap-wrapper .svg .expand-btn {
    visibility: hidden
}

.mindmap-wrapper .svg .expand-btn:hover {
    cursor: pointer
}

.mindmap-wrapper .svg .expand-btn:hover rect {
    fill: #fff
}

.mindmap-wrapper .svg .expand-btn:hover circle {
    fill: currentColor
}

.mindmap-wrapper .svg .text>rect {
    opacity: 0
}

.mindmap-wrapper .svg .text>rect.hover-cell {
    stroke: #09f;
    stroke-width: 3;
    cursor: pointer;
    opacity: .3;
    transition: .3s ease
}

.mindmap-wrapper .svg g.root>.content .textbox {
    font-weight: 700
}

.mindmap-wrapper .svg .selected>.content>.text>rect {
    fill: #09f;
    opacity: .3;
    transition: .3s ease
}

.mindmap-wrapper .svg .root.selected>.content>.text>rect {
    stroke-width: 3;
    stroke: #09f
}

.mindmap-wrapper .svg .root>.content>.text>rect {
    fill: #fff;
    -webkit-filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .1));
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .1));
    opacity: 1
}

.mindmap-wrapper .svg .collapse>.content>.expand-btn {
    visibility: visible
}

.mindmap-wrapper .svg .outline>.content>.text>rect {
    fill: #00e978;
    stroke: #00e978;
    stroke-width: 10;
    opacity: .75;
    transition: .3s ease
}

.mindmap-wrapper .context-menu-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.mindmap-wrapper .context-menu-container>div:first-child {
    height: 100%;
    width: 100%
}

#menu {
    background-color: #fff;
    border-color: #e8e8e8;
    border-radius: 6px;
    color: #333;
    font-size: 13px;
    padding: 4px;
    position: absolute;
    white-space: nowrap
}

#menu ul {
    border-radius: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0
}

#menu ul:not(:last-child):after {
    background-color: #ececec;
    content: "";
    display: block;
    height: 1px;
    margin: 4px 0
}

#menu ul li {
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 8px;
    position: relative
}

#menu ul li:before {
    background-color: #000;
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

#menu ul li:not(.disabled):hover:before {
    opacity: .09
}

#menu ul li.disabled {
    color: #aeb2b5;
    pointer-events: none
}

.note-panel-trigger {
    align-items: center;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 45px;
    justify-content: center;
    line-height: 1.2;
    padding-bottom: 3px;
    position: absolute;
    right: -55px;
    top: calc(50% - 22px);
    width: 45px;
    z-index: 2
}

.note-panel-trigger img {
    width: 22px
}

.show-trigger {
    right: 20px
}

.show-trigger:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.note-panel {
    display: flex;
    flex-direction: column;
    margin-right: -380px;
    overflow: hidden;
    padding: 30px 0 20px;
    width: 380px;
    z-index: 99
}

.note-panel .close-button {
    border-radius: 100%;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 10px;
    top: 10px
}

.note-panel .close-button:hover {
    background: rgba(0, 0, 0, .1)
}

.note-panel .title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 30px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.note-panel .action-item {
    border-radius: 4px;
    color: #666;
    height: 36px;
    line-height: 36px;
    margin: 0 20px;
    padding-left: 10px
}

.note-panel .action-item:hover {
    background: rgba(0, 0, 0, .1);
    color: #333;
    cursor: pointer
}

.full-note-panel {
    margin-right: 0
}

.tips-container {
    text-align: center
}

.tips-container li,
.tips-container ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.ant-popover-title {
    border-bottom: 1px solid rgba(209, 213, 217, .471);
    font-size: 15px;
    margin-bottom: 0 !important;
    padding: 5px 10px 4px
}

.key {
    align-items: flex-end;
    background-image: linear-gradient(180deg, #f2f4f5, #fff);
    border: 1px solid #d1d5d9;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #b8bfc4, inset 0 2px 0 0 #fff;
    color: #666;
    display: flex;
    font-size: 10px;
    font-weight: 500;
    height: 20px;
    justify-content: center;
    margin-left: 5px;
    min-width: 20px;
    padding: 0 5px
}

.tips .row {
    border-bottom: 1px solid rgba(209, 213, 217, .471);
    justify-content: space-between;
    min-height: 38px;
    min-width: 280px;
    padding: 0 6px
}

.tips .row,
.tips .row .keys {
    align-items: center;
    display: flex
}

.tips .row:last-child {
    border-bottom: none
}

.pop-menu {
    border-radius: 4px;
    font-size: 13px;
    overflow: hidden;
    text-align: left
}

.pop-menu li {
    padding: 4px 8px;
    text-align: left
}

.pop-menu li:hover {
    background-color: #f2f4f5;
    cursor: pointer
}

.loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%
}

.result-list {
    flex: 1 1;
    max-height: 100%;
    overflow-y: auto
}

.result-list .focused {
    background-color: rgba(0, 0, 0, .15)
}

.result-list .result-item {
    border-radius: 4px;
    cursor: default;
    font-size: 13px;
    overflow: hidden;
    padding: 8px 0;
    text-overflow: ellipsis;
    white-space: nowrap
}

.result-list .result-item img {
    padding: 0 10px 0 5px;
    vertical-align: text-bottom
}

.simp-read-item:hover {
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer
}

.search-content {
    height: 100%;
    overflow-y: auto
}

.search-content .clip {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 50%, #fff);
    color: #06c;
    margin: -58px 15px 0;
    padding: 20px 0 15px;
    position: relative;
    text-align: right;
    z-index: 99
}

.search-content .clip span {
    border-radius: 3px;
    padding: 4px 4px 5px
}

.search-content .clip span:hover {
    background-color: #b9dffe;
    color: #0874db;
    cursor: pointer
}

.search-content .inner {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    height: 100%;
    overflow-y: auto;
    padding: 10px 20px 20px;
    text-align: justify
}

.search-content .inner img {
    margin: 0 auto;
    max-width: 100%
}

.search-content .inner h1,
.search-content .inner h2,
.search-content .inner h3,
.search-content .inner h4,
.search-content .inner h5,
.search-content .inner h6 {
    color: #000;
    font-size: 16px;
    margin-bottom: 5px
}

.search-content .inner h1 {
    font-size: 18px
}

.search-content .inner li,
.search-content .inner ol,
.search-content .inner ul {
    margin: 0 0 5px 8px;
    padding: 0
}

.search-content .inner p {
    margin-bottom: 5px
}

.search-content .inner pre {
    white-space: pre-wrap
}

.modern-input,
.modern-input .input-area {
    align-items: center;
    display: flex
}

.modern-input .input-area {
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 36px;
    padding: 0 3px;
    width: 100%
}

.modern-input .input-area:hover {
    background-color: #e3e3e3
}

.modern-input .input-area input {
    background: none;
    border: none;
    height: 100%;
    outline: none;
    width: 100%
}

.modern-input .action-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
    text-align: right
}

.modern-input .action-button:hover {
    color: #3d6bab
}

.text-tooltip {
    align-items: center;
    background: rgba(0, 0, 0, .85);
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .45);
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 8px;
    position: absolute
}

.text-tooltip:hover {
    background: rgba(0, 0, 0, .95);
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.editor-menubar {
    display: flex;
    margin: 0 28px 8px
}

.editor-menubar .image-picker,
.editor-menubar button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 26px;
    margin-right: 8px;
    padding: 3px 0 0;
    text-align: center;
    width: 26px
}

.editor-menubar .image-picker svg path,
.editor-menubar button svg path {
    fill: #666
}

.editor-menubar .image-picker:hover,
.editor-menubar button:hover {
    border: 1px solid #989898
}

.editor-menubar .image-picker.is-active,
.editor-menubar button.is-active {
    background-color: #555;
    border: 1px solid #555
}

.editor-menubar .image-picker.is-active svg path,
.editor-menubar button.is-active svg path {
    fill: #fff
}

.editor-menubar .image-picker input {
    display: none
}

#editor {
    flex: 1 1;
    margin: 0 0 10px;
    overflow-y: auto;
    padding: 0 30px;
    text-align: justify
}

#editor img {
    height: auto;
    margin-bottom: 8px;
    max-width: 100%
}

#editor img.ProseMirror-selectednode {
    outline: 3px solid #68cef8
}

#editor li,
#editor ol,
#editor p,
#editor ul {
    margin: 0
}

#editor ol,
#editor ul {
    padding-left: 16px
}

#editor .ProseMirror>ol,
#editor .ProseMirror>p,
#editor .ProseMirror>ul {
    margin-bottom: 8px
}

#editor ul[data-type=taskList] {
    list-style: none;
    padding: 0
}

#editor ul[data-type=taskList] p {
    margin: 0
}

#editor ul[data-type=taskList] li {
    display: flex
}

#editor ul[data-type=taskList] li>label {
    flex: 0 0 auto;
    margin-right: .5rem;
    padding-top: 2px;
    -webkit-user-select: none;
    user-select: none
}

#editor ul[data-type=taskList] li>div {
    flex: 1 1 auto
}

#editor mark {
    background-color: #faf594;
    border-radius: .25em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .125em 0
}

#editor ::selection {
    background: rgba(0, 0, 0, .4)
}

.ProseMirror {
    height: 100%;
    padding-top: 8px
}

.ProseMirror p.is-editor-empty:first-child:before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none
}

.ProseMirror:focus {
    outline: none
}

.node-toolbar {
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    bottom: -38px;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .2), 0 9px 13px rgba(0, 0, 0, .05), 0 5.83333px 7.61343px rgba(0, 0, 0, .038), 0 3.46667px 4.14074px rgba(0, 0, 0, .03), 0 1.8px 2.1125px rgba(0, 0, 0, .025), 0 .733333px 1.05926px rgba(0, 0, 0, .02), 0 .166667px .511574px rgba(0, 0, 0, .012);
    color: #fff;
    display: flex;
    height: 38px;
    justify-content: space-between;
    left: 50%;
    padding: 6px;
    position: absolute
}

.node-toolbar .item {
    align-items: center;
    border-radius: 6px;
    display: flex;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    margin: 0 2px;
    transition: all .2s ease;
    width: 28px
}

.node-toolbar .item:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer
}

.node-toolbar .item .ai {
    background: linear-gradient(140.31deg, #ce67ff 32.97%, #00c2ff 55.61%, #0dff8b 74.57%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: Futura, Helvetica, Arial;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px
}

.header {
    align-items: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .65));
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    display: flex;
    height: 44px;
    justify-content: space-between;
    padding: 0 20px 0 12px;
    position: fixed;
    width: 100%;
    z-index: 9
}

.header .header-action .item {
    color: #666;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 6px;
    transition: all .2s ease
}

.header .header-action .item:hover {
    color: #2f80ed
}

.header .logo {
    margin: 4px 0 0 4px
}

.start-menu {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 40px;
    padding: 4px
}

.start-menu .logo-area {
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 100%;
    padding: 0 4px
}

.start-menu .logo-area:hover {
    background: rgba(0, 0, 0, .04)
}

.start-menu .text-area {
    color: #888;
    font-size: 12px;
    line-height: 14px;
    margin-left: 2px
}

#home {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    left: 24px;
    position: absolute;
    top: 16px;
    z-index: 9
}

#home .text {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 60px;
    display: inline-block;
    padding: 0 5px
}

#home .logo {
    background: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    height: 52px;
    margin-right: 8px;
    transition: .2s ease-in-out;
    width: 52px
}

#home .logo:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .2s ease-in-out
}

@media screen and (max-width:414px) {
    #home .text {
        opacity: 0
    }
}

#switcher {
    align-items: center;
    display: flex;
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 9
}

#switcher .btn {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    padding: 0 10px;
    text-align: center;
    transition: .2s ease-in-out
}

#switcher .btn img {
    width: 15px
}

#switcher .btn:hover {
    background-color: rgba(0, 0, 0, .1);
    transition: .2s ease-in-out
}

.c-form-modal .form-header {
    margin: 0 0 20px
}

.c-form-modal .form-header h2 {
    color: #333;
    font-size: 20px;
    line-height: 28px;
    margin: 0
}

.c-form-modal .form-header p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 0
}

.c-form-modal .ant-form-item:last-child {
    margin-bottom: 0
}

.save-state-indicator {
    color: #888;
    display: none;
    font-size: 12px;
    padding: 2px 4px 0;
    transition: .5s ease
}

.save-state-indicator.saved,
.save-state-indicator.saving {
    display: block
}

.save-state-indicator.error {
    color: red;
    display: block
}

.dynamic-tips {
    border-radius: 24px;
    font-size: 13px;
    margin-top: 4px;
    padding: 4px 12px;
    -webkit-user-select: none;
    user-select: none
}

.dynamic-tips .text {
    -webkit-animation: textScroll 2s linear infinite;
    animation: textScroll 2s linear infinite;
    background: linear-gradient(90deg, #666 45%, #bb6bd9, #666 65%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    color: transparent
}

@-webkit-keyframes textScroll {
    0% {
        background-position: 100%
    }

    to {
        background-position: 0
    }
}

@keyframes textScroll {
    0% {
        background-position: 100%
    }

    to {
        background-position: 0
    }
}

@media screen and (max-width:480px) {
    .dynamic-tips {
        display: none
    }
}

.graph-page {
    height: 100%;
    width: 100%
}

.graph-page .c-header {
    background-color: transparent;
    height: 92px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

.graph-container {
    height: 100%;
    overflow: clip;
    position: relative
}

.graph {
    height: 100%;
    margin: 0;
    padding: 0
}

.x6-graph.x6-graph-pannable {
    cursor: default
}

.x6-cell {
    -webkit-user-select: none;
    user-select: none
}

.x6-node {
    cursor: default
}

.x6-node.show-port .x6-port-body {
    stroke: #fff;
    stroke-width: 1;
    fill: #8ecaff;
    transition: .1s ease;
    visibility: visible !important
}

.x6-node.show-port .x6-port-body:hover {
    fill: #52aeff;
    cursor: default;
    opacity: 1;
    scale: 1.6
}

.x6-node.show-port .x6-port-top circle {
    translate: 0 -16px
}

.x6-node.show-port .x6-port-bottom circle {
    translate: 0 16px
}

.x6-node.show-port .x6-port-left circle {
    translate: -16px 0
}

.x6-node.show-port .x6-port-right circle {
    translate: 16px 0
}

.x6-edge path:first-child:hover {
    stroke: #f2f2f2;
    transition: stroke .5s ease
}

.hiddenText {
    color: transparent !important
}

.x6-widget-transform {
    border: 1px solid #239edd;
    border-radius: 0;
    margin: -2px 0 0 -2px;
    padding: 1px
}

.x6-widget-transform>div {
    background: linear-gradient(#239edd, #0084ff);
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    height: 14px;
    width: 14px
}

.x6-widget-transform .x6-widget-transform-active-handle,
.x6-widget-transform>div:hover {
    background-color: #3dafe4
}

.x6-widget-transform-resize {
    border-radius: 0
}

.x6-widget-transform-resize[data-position=top-left] {
    left: -7px;
    top: -7px
}

.x6-widget-transform-resize[data-position=top] {
    left: 50%;
    margin-left: -7px;
    top: -7px
}

.x6-widget-transform-resize[data-position=top-right] {
    right: -7px;
    top: -7px
}

.x6-widget-transform-resize[data-position=right] {
    margin-top: -7px;
    right: -7px;
    top: 50%
}

.x6-widget-transform-resize[data-position=bottom-right] {
    bottom: -7px;
    right: -7px
}

.x6-widget-transform-resize[data-position=bottom] {
    bottom: -7px;
    left: 50%;
    margin-left: -7px
}

.x6-widget-transform-resize[data-position=bottom-left] {
    bottom: -7px;
    left: -7px
}

.x6-widget-transform-resize[data-position=left] {
    left: -7px;
    margin-top: -7px;
    top: 50%
}

.x6-widget-transform-rotate {
    border-radius: 100%;
    cursor: move;
    left: -22px;
    top: -22px
}

.x6-widget-transform-resize[data-position=bottom],
.x6-widget-transform-resize[data-position=left],
.x6-widget-transform-resize[data-position=right],
.x6-widget-transform-resize[data-position=top] {
    opacity: 0
}

.x6-widget-selection-box,
.x6-widget-selection-inner {
    border: 1px solid var(--selection-border-color);
    box-shadow: none;
    margin-left: -2px;
    margin-top: -2px;
    padding-bottom: 2px;
    padding-right: 2px
}

.square-items .item {
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    transition: .2s ease-in-out
}

.square-items .active,
.square-items .item:hover {
    background: #e5e5e5;
    cursor: pointer;
    transition: .2s ease-in-out
}

.line {
    background: #f2f2f2;
    height: 1px;
    margin: 5px 0
}

.toolbar {
    background: #fff;
    border-radius: 6px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    z-index: 1000
}

.toolbar,
.toolbar .group,
.toolbar .group .item {
    align-items: center;
    display: flex
}

.toolbar .group .item {
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    width: 36px
}

.toolbar .group .item:hover {
    background: rgba(0, 0, 0, .05);
    cursor: pointer
}

.toolbar .group .item.more {
    width: 42px
}

.spacer {
    background: rgba(0, 0, 0, .05);
    height: 38px;
    width: 1px
}

.color-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.color-panel .item {
    height: 28px;
    margin-bottom: 5px;
    width: 28px
}

.color-panel .item .color {
    border-radius: 100%;
    height: 24px;
    width: 24px
}

.shape-panel .item {
    width: 32px
}

.flexbar {
    align-items: center;
    color: #666
}

.flexbar,
.flexbar .wrapper {
    display: flex;
    justify-content: space-between
}

.flexbar .fill-style {
    border-radius: 20px;
    border-width: 2px;
    height: 20px;
    width: 20px
}

.flexbar .dash {
    border-style: dashed
}

.flexbar .ghost,
.flexbar .stroke {
    border-style: solid
}

.font {
    width: 128px
}

.font .item {
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-bottom: 2px;
    padding: 0 4px
}

.font .item.S {
    font-size: 12px
}

.font .item.M {
    font-size: 14px
}

.font .item.L {
    font-size: 16px
}

.font .item.XL {
    font-size: 18px
}

.font .item.XXL {
    font-size: 22px
}

.font .item:hover {
    background: #f5f5f5
}

.font .item.active {
    background: #e5e5e5
}

.cell-color {
    border-radius: 100%;
    flex-shrink: 0;
    height: 18px;
    width: 18px
}

.border-width {
    background-color: #666;
    border-radius: 10px
}

.regular {
    height: 6px;
    width: 6px
}

.medium {
    height: 10px;
    width: 10px
}

.bold {
    height: 14px;
    width: 14px
}

.no-arrow {
    background-color: #666;
    height: 2px;
    width: 18px
}

.light-grey {
    background-color: #f1f2f3;
    border-color: #c6cbd1
}

.transform-box {
    background: transparent;
    pointer-events: none
}

.transform-box .handle {
    pointer-events: all;
    position: absolute
}

.transform-box .corner {
    background: #0084ff;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    height: 16px;
    width: 16px
}

.transform-box .corner:hover {
    background: #00a2ff
}

.transform-box .handle.corner.lt {
    cursor: nwse-resize;
    left: -8px;
    top: -8px
}

.transform-box .handle.corner.rt {
    cursor: nesw-resize;
    right: -8px;
    top: -8px
}

.transform-box .handle.corner.rb {
    bottom: -8px;
    cursor: nwse-resize;
    right: -8px
}

.transform-box .handle.corner.lb {
    bottom: -8px;
    cursor: nesw-resize;
    left: -8px
}

.transform-box .edge {
    background: transparent
}

.transform-box .edge.visible {
    background: transparent;
    background-color: #fff;
    border: 1px solid var(--blue-link);
    border-radius: 4px;
    transition: .2s ease
}

.transform-box .edge.visible:hover {
    background-color: #cae1ff
}

.transform-box .edge.top {
    top: -4px
}

.transform-box .edge.bottom,
.transform-box .edge.top {
    cursor: ns-resize;
    height: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60%
}

.transform-box .edge.bottom {
    bottom: -4px
}

.transform-box .edge.left {
    left: -4px
}

.transform-box .edge.left,
.transform-box .edge.right {
    cursor: ew-resize;
    height: 60%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px
}

.transform-box .edge.right {
    right: -5px
}

.lane-header:hover .lane-menu {
    background: rgba(0, 0, 0, .1);
    visibility: visible
}

.lane-menu {
    border-radius: 100%;
    cursor: pointer;
    height: 24px;
    visibility: hidden;
    width: 24px
}

.lane-menu:hover {
    background: rgba(0, 0, 0, .4) !important
}

.lane-menu svg {
    fill: none;
    height: 100%;
    width: 100%
}

.lane:hover {
    background: hsla(0, 0%, 100%, .5)
}

.shapesdock {
    left: 24px;
    margin-top: -220px;
    position: absolute;
    top: 50%;
    width: 56px;
    z-index: 999
}

.shapesdock .group {
    border-radius: 10px;
    margin-bottom: 8px;
    padding-top: 8px
}

.shapesdock .group .shape-item {
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    transition: .2s ease;
    width: 40px
}

.shapesdock .group .shape-item:hover {
    background: #e5eeff;
    transition: .2s ease
}

.shapesdock .group .translate:hover {
    -webkit-transform: translate(4px);
    transform: translate(4px)
}

@media screen and (max-width:480px) {
    .shapesdock {
        left: 12px;
        width: 48px
    }
}

.unfold {
    width: 320px
}

.shape-group {
    padding: 5px 5px 0;
    width: 210px
}

.shape-group .group-name {
    color: #666;
    display: flex;
    text-indent: 5px
}

.shape-group .group-name hr {
    display: flex;
    flex-grow: 1;
    height: 0;
    margin: 0 0 0 5px;
    opacity: .2;
    -webkit-transform: translateY(11px);
    transform: translateY(11px)
}

.shape-group .group-shapes {
    padding: 0 0 5px
}

.shape-group .group-shapes:last-child {
    padding: 0
}

.shape-group .item {
    height: 40px;
    width: 40px
}

.library {
    flex-shrink: 0;
    padding: 8px 10px 10px;
    width: 260px
}

.shape-list {
    display: flex;
    flex-wrap: wrap
}

.shape-list div {
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 54px;
    justify-content: center;
    margin: 0 6px 6px 0;
    transition: .2s ease;
    width: 54px
}

.shape-list div:hover {
    background: #f3f3f3;
    transition: .2s ease
}

.shape-list div:hover img {
    height: 48px;
    transition: .2s ease;
    width: 48px
}

.shape-list div img {
    transition: .2s ease;
    width: 70%
}

.shape-list:after {
    content: "";
    flex: auto
}

.footer {
    background: #e9e9e9;
    border-radius: 6px;
    display: flex;
    height: 36px;
    padding: 0 5px
}

.footer input {
    background: none;
    border: 1px solid #e9e9e9;
    margin: 0;
    padding: 3px;
    width: 100%
}

.footer input:focus {
    outline: none
}

.landing-page {
    background: #f8f9fa
}

.landing-page .wrapper {
    padding: 60px 0 0;
    text-align: center
}

.landing-page .section {
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    padding: 60px 0 40px;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.landing-page .section.gradientbg {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 80%, #efefef)
}

.landing-page .section .big-title {
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 0 0 16px;
    position: relative
}

@media(max-width:480px) {
    .landing-page .section .big-title {
        font-size: 2rem;
        line-height: 2rem
    }
}

.landing-page .section .sub-title {
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 20px;
    max-width: 40%
}

.landing-page .section .sub-title .more {
    color: #666;
    display: block;
    font-size: 12px;
    margin: 8px 0 0
}

@media(max-width:480px) {
    .landing-page .section .sub-title {
        font-size: 16px;
        max-width: 80%
    }
}

.landing-page .section .action-button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 20px;
    padding: 8px 12px;
    text-decoration: none;
    transition: .2s ease
}

.landing-page .section .action-button:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.landing-page .section .window-frame {
    margin: 0 auto 32px;
    min-height: 100px;
    width: 56%
}

.landing-page .section .window-frame img {
    width: 100%
}

.landing-page .section .window-frame:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01)
}

@media(max-width:480px) {
    .landing-page .section .window-frame {
        width: 90%
    }
}

.landing-page .section .feature-list {
    display: flex;
    justify-content: center
}

.landing-page .section .feature-list .item {
    display: flex;
    margin: 0 8px;
    padding: 12px;
    width: 220px
}

.landing-page .section .feature-list .item .icon {
    font-size: 24px;
    margin-right: 12px
}

.landing-page .section .feature-list .item .content {
    text-align: left
}

.landing-page .section .feature-list .item .content .title {
    font-weight: 700
}

.landing-page .section .feature-list .item .content .description {
    color: #666;
    font-size: 13px;
    line-height: 1.5;
    white-space: break-spaces
}

@media(max-width:480px) {
    .landing-page .section .feature-list {
        flex-wrap: wrap
    }

    .landing-page .section .feature-list .item {
        margin: 0 4px 12px;
        padding: 4px 8px;
        width: 176px
    }

    .landing-page .section .feature-list .item .icon {
        font-size: 18px;
        margin-right: 8px
    }

    .landing-page .section .feature-list .item .content .title {
        font-size: 14px
    }
}

.landing-page .section .platform-list {
    display: flex;
    justify-content: center;
    padding: 28px 0 0
}

.landing-page .section .platform-list .item {
    margin: 0 56px
}

.landing-page .section .platform-list .item .icon {
    font-size: 44px;
    line-height: 44px
}

.landing-page .section .platform-list .item .description {
    color: #666;
    font-size: 12px;
    margin: 12px 0 20px
}

.landing-page .section .platform-list .item a {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 4px 8px;
    text-decoration: none
}

.landing-page .section .platform-list .item.disabled {
    opacity: .4
}

@media(max-width:480px) {
    .landing-page .section .platform-list .item {
        margin: 0 10px
    }
}

.landing-page .section .price-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0
}

.landing-page .section .price-list .item {
    background: #fff;
    flex-shrink: 0;
    margin: 0 16px 20px;
    padding: 16px;
    text-align: left;
    width: 240px
}

.landing-page .section .price-list .item:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.landing-page .section .price-list .item:hover a {
    border-color: #00a046;
    color: #00a046
}

.landing-page .section .price-list .item .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin: 0 0 4px
}

.landing-page .section .price-list .item .description {
    height: 56px
}

.landing-page .section .price-list .item .price {
    font-family: Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 8px
}

.landing-page .section .price-list .item .price span {
    color: #999;
    font-size: 12px;
    padding-left: 4px
}

.landing-page .section .price-list .item a {
    border: 1px solid #000;
    color: #000;
    display: block;
    margin: 0 0 16px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none
}

.landing-page .section .price-list .item a:hover {
    background: #00a046;
    border-color: #00a046;
    color: #fff;
    transition: .2s ease
}

.landing-page .section .price-list .item .line {
    background-color: rgba(0, 0, 0, .08);
    height: 1px;
    margin: 0 -16px 16px
}

.landing-page .section .price-list .item ul {
    padding-left: 16px
}

.landing-page .section .price-list .item ul li {
    font-weight: 700;
    list-style: circle;
    opacity: .75;
    padding: 3px 0
}

.landing-page .section .price-list .item ul li.hilight {
    color: #00a046
}

@media(max-width:480px) {
    .landing-page .section {
        padding: 60px 0 20px
    }
}

.landing-page .hand-draw-line {
    left: 0;
    position: absolute;
    top: 32px;
    width: 198px
}

@media(max-width:480px) {
    .landing-page .hand-draw-line {
        top: 22px;
        width: 148px
    }
}

.landing-page .hand-draw-amymind {
    position: absolute;
    right: -64px;
    top: -28px;
    width: 116px
}

@media(max-width:480px) {
    .landing-page .hand-draw-amymind {
        right: -22px;
        top: -24px;
        width: 84px
    }
}

.reseller-item {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    padding: 48px
}

.reseller-item .brand {
    margin: 0 80px 0 0;
    max-width: 25%
}

.reseller-item .brand img {
    width: 100%
}

.reseller-item .summary {
    color: #333;
    text-align: left
}

.reseller-item .summary .title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px
}

.reseller-item .summary a {
    color: var(--blue-link);
    text-decoration: none
}

@media screen and (max-width:480px) {
    .reseller-item {
        flex-direction: column;
        padding: 24px
    }

    .reseller-item .brand {
        margin: 0 auto 20px;
        max-width: 80%
    }
}

.home {
    display: flex;
    height: 100%;
    overflow: hidden
}

.home .wrapper {
    background: #fff;
    flex-grow: 1;
    overflow-y: auto;
    padding: 32px
}

.home .home-header {
    margin: 0 0 32px;
    text-align: right
}

.home .upload-btn {
    color: #7187a5;
    font-size: 14px;
    font-weight: 500;
    transition: .3s ease
}

.home .upload-btn:hover {
    color: #5c7090;
    cursor: pointer;
    transition: .3s ease
}

.home .btn {
    align-items: center;
    border: 1px solid rgba(113, 135, 165, .8);
    border-radius: 7px;
    box-sizing: border-box;
    color: #7187a5;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    margin-left: 18px;
    padding: 0 10px;
    transition: .3s ease
}

.home .btn img {
    margin-left: 2px;
    width: 16px
}

.home .btn:hover {
    background-color: rgba(113, 134, 165, .2);
    border: 1px solid #7187a5;
    transition: .3s ease
}

.home .ant-alert {
    margin-bottom: 16px
}

.home .table-action button {
    padding-left: 0;
    padding-right: 14px
}

.sidebar {
    background-color: #f2f3f5;
    border-right: 1px solid #e9e9e9;
    flex-shrink: 0;
    position: relative;
    width: 220px
}

.sidebar .logo {
    color: #666;
    padding: 0 0 24px;
    text-align: center
}

.sidebar .logo img {
    border: 4px solid #fff;
    border-radius: 88px;
    height: 88px;
    margin: 16px auto 4px;
    width: 88px
}

.sidebar .background {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%
}

.sidebar .background:after {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    bottom: -100%;
    content: "";
    left: -100%;
    position: absolute;
    right: -100%;
    top: -100%;
    z-index: 1
}

.sidebar .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px 12px 16px;
    position: absolute;
    width: 100%;
    z-index: 1
}

.menu {
    color: #5c7090;
    list-style: none;
    padding: 0
}

.menu .item {
    display: flex;
    overflow: hidden
}

.menu .item .item-body {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
    font-weight: 500;
    height: 38px;
    justify-content: space-between;
    line-height: 38px;
    padding: 0 0 0 8px;
    transition: all .3s ease;
    width: 100%
}

.menu .item .item-body:hover {
    background-color: rgba(0, 0, 0, .04);
    color: #375078;
    opacity: 1;
    transition: all .3s ease
}

.menu .item .item-body .entity {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.menu .item .item-body .entity .folder-icon {
    font-size: 20px;
    margin-right: 4px;
    opacity: .8
}

.menu .item .item-body .action-trigger {
    display: none;
    font-size: 20px;
    height: 100%;
    margin: 0 0 0 4px;
    opacity: .4;
    padding: 10px 8px 0 0
}

.menu .item .item-body .action-trigger:hover {
    opacity: 1
}

.menu .item .item-body.show-action {
    width: 132px
}

.menu .item .item-body.accept-files {
    background-color: #03a9f4;
    color: #fff
}

.menu .item .item-action button {
    padding: 0 2px
}

.menu .item .tip {
    align-items: center;
    background-color: rgba(161, 173, 192, .2);
    border-radius: 20px;
    color: #5c7090;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    height: 22px;
    padding: 0 5px
}

.menu .item .alert {
    background-color: rgba(242, 153, 74, .2);
    color: #f2994a
}

.item-body.active {
    background-color: rgba(0, 0, 0, .08);
    color: #375078;
    transition: .3s ease
}

.color {
    color: #f44336;
    color: #e91e63;
    color: #9c27b0;
    color: #673ab7;
    color: #3f51b5;
    color: #60569e;
    color: #e6437d;
    color: #ebbf4d;
    color: #00bcd4;
    color: #03a9f4;
    color: #2196f3;
    color: #009688;
    color: #5ee463;
    color: #f8e645;
    color: #ffc107;
    color: #ff5722;
    color: #43f8bf;
    color: #e136eb;
    color: #f57c23;
    color: #32ed39
}

.diagrams-wrapper {
    height: 100%;
    position: relative
}

.cards-wrapper {
    grid-gap: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: space-between
}

.card {
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 10px;
    height: 140px;
    margin-bottom: 32px;
    overflow: hidden;
    transition: .3s ease;
    -webkit-user-select: none;
    user-select: none;
    width: 180px
}

.card .thumbnail {
    background-color: rgba(248, 249, 250, .835);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    height: 100px;
    overflow: hidden;
    padding: 8px;
    width: 100%
}

.card .infomation {
    border-top: 1px solid rgba(0, 0, 0, .04);
    color: #666;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 8px 0
}

.card .infomation .text {
    margin-right: 20px
}

.card .infomation .text .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.card .infomation .text .summary {
    color: #888;
    font-size: 10px
}

.card .infomation img {
    cursor: pointer;
    float: right;
    margin-top: 4px;
    opacity: .3
}

.card .infomation img:hover {
    opacity: 1;
    transition: .2s ease
}

.card:hover {
    border: 1px solid rgba(24, 144, 255, .4);
    box-shadow: 0 22px 42px rgba(0, 0, 0, .02), 0 14.2593px 24.5972px rgba(0, 0, 0, .02), 0 8.47407px 13.3778px rgba(0, 0, 0, .01), 0 4.4px 6.825px rgba(0, 0, 0, .01), 0 1.79259px 3.42222px rgba(0, 0, 0, .01), 0 .407407px 1.65278px rgba(0, 0, 0, .01);
    transition: .1s ease
}

.card.selected {
    border-color: #1890ff
}

.card .add-btn,
.card .expand-btn {
    visibility: hidden
}

.card .root>.content>.text>rect {
    fill: #fff;
    -webkit-filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .1));
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .1));
    opacity: 1
}

.page-section {
    margin: 0 0 30px
}

.page-section .section-title {
    color: #333;
    font-size: 16px;
    font-weight: 450;
    margin: 0 0 10px
}

.page-section .section-title .section-info {
    color: #666;
    font-size: 13px;
    font-weight: 400
}

.rateplan {
    display: flex;
    margin-bottom: 30px
}

.rateplan .plan-card {
    border: 1px solid #e3e7ed;
    border-radius: 8px;
    margin-right: 12px;
    padding: 15px 20px
}

.rateplan .plan-card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .07);
    transition: .2s ease-in-out
}

.rateplan .plan-card .title {
    color: #333;
    font-size: 18px;
    font-weight: 600
}

.rateplan .plan-card .description {
    color: gray;
    font-size: 12px;
    margin-bottom: 5px
}

.rateplan .plan-card .price {
    align-items: baseline;
    color: #333;
    display: flex;
    font-size: 32px;
    justify-content: space-between;
    margin-bottom: 5px
}

.rateplan .plan-card .price span {
    color: gray;
    font-size: 12px;
    font-weight: 400
}

.rateplan .plan-card li,
.rateplan .plan-card ul {
    margin: 0;
    padding: 0
}

.rateplan .plan-card ul {
    margin-bottom: 10px
}

.rateplan .plan-card li {
    list-style: circle;
    list-style-position: inside;
    min-height: 28px
}

.rateplan .plan-card li.hilight {
    color: #9b51e0
}

.rateplan .plan-card .actionbtn {
    background: none;
    border: 1px solid #9b51e0;
    border-radius: 20px;
    color: #9b51e0;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 28px;
    padding: 0 14px
}

.rateplan .plan-card .actionbtn:hover {
    background-color: #9b51e0;
    color: #fff;
    transition: .3s ease-in-out
}

.redeem {
    margin-bottom: 30px
}

.redeem .description {
    font-size: 14px;
    margin-bottom: 3px;
    text-indent: 5px
}

.redeem .input-area,
.redeem .input-area .code {
    align-items: center;
    display: flex
}

.redeem .input-area .code {
    background: #fff;
    border: 1px solid #c6cfdb;
    border-radius: 6px;
    height: 36px;
    margin-right: 10px
}

.redeem .input-area .code img {
    margin: 0 8px;
    -webkit-user-select: none;
    user-select: none
}

.redeem .input-area .code input {
    background: none;
    border: none;
    font-size: 15px;
    height: 30px;
    min-width: 240px
}

.redeem .input-area .code input:active,
.redeem .input-area .code input:focus {
    outline: none
}

.redeem .input-area .code input::-webkit-input-placeholder {
    color: #c6cfdb
}

.redeem .input-area .code input::placeholder {
    color: #c6cfdb
}

.redeem input[type=button] {
    background: none;
    border: 1px solid #c6cfdb;
    border-radius: 6px;
    color: #aebaca;
    cursor: pointer;
    height: 36px;
    min-width: 64px
}

.redeem input[type=button].active {
    border-color: #7187a5;
    color: #5b7498
}

.redeem input[type=button].active:hover {
    background-color: #7187a5;
    color: #fff
}

.FAQ .title {
    color: #333;
    margin-bottom: 5px;
    text-indent: 5px
}

.FAQ li,
.FAQ ul {
    color: #666;
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0
}

.FAQ ul {
    border: 1px solid #e3e7ed;
    border-radius: 8px;
    padding: 5px;
    width: 580px
}

.FAQ li {
    border-bottom: 1px solid #ebebeb;
    padding: 8px 10px
}

.FAQ li:last-child {
    border-bottom: none
}

.FAQ li:hover {
    background-color: #fafafa;
    transition: .2s ease-in-out
}

.FAQ li .question {
    color: #333;
    font-size: 15px;
    font-weight: 500
}

.FAQ li .answer {
    color: #888;
    font-size: 12px
}

.single-page {
    margin: 0 auto;
    padding: 10% 0 0;
    width: 80%
}